.navbar {
  background-color: darken($blue, $amount: 1.2);
  padding: $m-size / 2;
  margin-bottom: $l-size;
  width: 50%;
}

.navbar__content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    width: 70%;
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 95%;
  }
}
