.container {
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

@media only screen and (max-width: 1335px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 95%;
    padding: 0 $m-size;
  }
}
