.cv-header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0px 1px 2px 0px #16182c;
}

.cv-navbar {
  display: flex;
  margin: auto;
  width: 60%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  margin-top: 0;
  align-items: center;
  //padding: $s-size 0;
  height: 100%;
  background-color: $blue;
}

.cv-navbar .navs {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.cv-navbar .navs .nav-link {
  margin-right: 0;
  margin-left: $l-size;
  height: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.cv-navbar .navs .nav-link:hover {
  color: lighten($grey, $amount: 14);
}

@media only screen and (max-width: 1335px) {
  .cv-navbar {
    width: 80%;
  }
}

@media only screen and (max-width: 992px) {
  .cv-navbar {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .cv-navbar {
    width: 95%;
    padding: 0 $m-size;
    display: none;
  }
}
