.cv-header {
  display: block;
  position: sticky;
  top: 0;
}

.cv-navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: $blue;
}

.cv-navbar .navs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cv-navbar .navs .nav-link {
  margin-right: 0;
  margin-left: $l-size;
}

.cv-navbar .navs .nav-link:hover {
  color: lighten($grey, $amount: 14);
}

@media only screen and (max-width: 600px) {
  .cv-navbar {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .cv-navbar {
    display: none;
  }
}
