.cv-responsive-navbar {
  display: flex;
  flex-direction: column;
  background-color: $blue;
  width: 80%;
  margin: auto;
}

.cv-responsive-navbar__actions {
  display: flex;
  justify-content: space-between;
}

.cv-responsive-navbar__navs .nav-link {
  display: block;
  padding: $l-size;
  font-size: $m-size * 1.1;
  text-align: center;
  width: 100%;
}

.cv-responsive-navbar__navs--closed {
  display: none;
}

.icon--menu {
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .cv-responsive-navbar {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .cv-responsive-navbar {
    width: 95%;
    padding: 0 $m-size;
  }
}
