.cv-skills__content {
  display: flex;
  justify-content: space-between;
}

.cv-skills__content__group:not(:first-child) {
  padding-left: $xl-size;
  border-left: 1.6px solid $blue-light;
}

@media only screen and (max-width: 768px) {
  .cv-skills__content {
    flex-direction: column;
  }
  .cv-skills__content__group:not(:first-child) {
    padding: 0;
    //padding-bottom: $xl-size;
    border: none;
    //border-bottom: 1.6px solid $blue-light;
  }
}
