.navbar {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto !important;
  align-items: center;
  background-color: $blue !important;
  width: 60%;
  padding: $s-size 0;
  height: 100%;
  height: 80px;
  //margin: 0 auto;
}

.navbar-container .left-content {
  display: flex;
  align-items: center;
  min-width: 0;
}

.navbar .right-content {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  align-items: center;
}

.header a {
  margin-left: $l-size;
  height: 80px;
}

.header__photo {
  padding: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cv-header .nav-link {
  white-space: nowrap;
}

.nav-link {
  color: darken($grey, $amount: 3);
  font-size: $m-size * 1.2;
  margin: 0;
  padding: 0;
  padding-bottom: $m-size / 3;
  margin-right: 4rem;
  text-decoration: none;

  width: fit-content;
}

.header .nav-link:hover {
  background-color: lighten($blue, $amount: 5);
}

.nav-link a:active {
  color: black;
}

.scrolled-navbar {
  //background-color: lighten($blue, $amount: 5);
  color: $grey;
  //opacity: 0.9;
}

.active-link {
  border-bottom: 3px solid yellow;
  border-top: 3px solid transparent;
  font-weight: 700;
}

@keyframes active-link-border-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@media only screen and (max-width: 1335px) {
  .navbar {
    width: 80%;
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    width: 85%;
  }
  .header__photo {
    padding: 0;
    width: $xl-size;
    height: $xl-size;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 95%;
    padding: 0 $m-size;
  }
}
