// Sizes

$m-size: 1.6rem;
$l-size: 2.58rem;
$xl-size: 4.18rem;
$xxl-size: 6.77rem;

// Colors

$blue: #10111f;
$blue-light: #1f2139;
$grey: #a7a8c9;
$red: #f35588;
$purple: #380c80;
$white: #f3f3f3;
$off-yellow: #ffd31d;
$yellow: #ffe277;

// Transition

$speed: 0.3s;
